<!--This partial has error page contents 

File Name: error.ejs 
Name: Vaishali Siddeshwar
Student ID: 301172372
Date: Mar-06-2021
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
