<!--This partial has Home page contents 

File Name: index.ejs 
Name: Vaishali Siddeshwar
Student ID: 301172372
Date: Mar-06-2021
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


